@charset "UTF-8";
@import './iconfont/iconfont.css';
$bgColor:#f5f5f5;
$impTextColor: #FE6A00;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  // background-color: #0099ff;
  }
  /*滚动条的轨道*/
::-webkit-scrollbar-track{
    // background-color: #0099ff;
  }
  /*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #e5e5e5;
    box-shadow: inset 0 0 5px #e5e5e5;
}
  /*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
      height: 0;
      background-color: transparent;
  }
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
body {
  font-size: 14px;
  font-family: "PingFangSC-Regular,PingFang SC", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB";
  font-style: normal;
  color: #000000;
  background-color: $bgColor;
  width: 100%;
  overflow-y: auto;
  height: 100%;
}
a {
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: inline-block;
  border: none;
  vertical-align: middle;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}

th {
  font-weight: normal;
}

textarea {
  resize: none;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
.cf::after{
  content: "";
  display: table;
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'iconfont';  /* project id 1906516 */
  src: url('//at.alicdn.com/t/font_1906516_h0q3g65coou.eot');
  src: url('//at.alicdn.com/t/font_1906516_h0q3g65coou.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1906516_h0q3g65coou.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1906516_h0q3g65coou.woff') format('woff'),
  url('//at.alicdn.com/t/font_1906516_h0q3g65coou.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1906516_h0q3g65coou.svg#iconfont') format('svg');
}


.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}

.width200 {
  width: 200px !important;
}

.line {
  text-align: center;
  color: #999;
}

/* 在输入类型=“number”时禁用webkit的自旋按钮？ */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

h3 {
  font-weight:400;
  font-size: 16px;
  color: #000000;
}



// 饿了么样式修改
.el-tabs {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }
  .el-tabs__item {
    font-size: 20px;
    color: #999999;
    text-align: center;
    margin-bottom: 8px;
    flex: 1;
  }
  .el-tabs__item.is-active {
    color: #303133;
  }
  .el-tabs__active-bar {
    background-color: #FE6A00 !important;
  }
}

.el-button--primary,.el-button--primary:hover {
  background: $impTextColor !important;
  border-color: $impTextColor !important;
  // height: 34px;
  // line-height: 34px;
  // padding: 0;
  // width: 94px;
}

.el-button--default,.el-button--default:hover {
  background: #ffffff;
  border-color: $impTextColor;
  color: $impTextColor;
  // height: 34px;
  // line-height: 34px;
  // padding: 0;
  // width: 94px;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $impTextColor;
  border-color: $impTextColor;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #666666;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #FE6A00;
}

h2 {
  font-weight: 400;
  font-size: 14px;
}
.content-wrap {
  width: 1200px;
  margin: 0 auto;
}

.font333{
  color: #333333;
}

.font666{
  color: #666666;
}

.font999{
  color: #999999;
}

.fontImp{
  color: $impTextColor;
}

.red {
  color: #FF001C !important;
}

.green {
  color: #52C41A;
  
}

.cursor {
  cursor: pointer;
}

.mb70 {
   margin-bottom: 70px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.swiper-button-prev, .swiper-button-next {
  background-image: none;
  border:  none;
  span {
    font-size: 40px;
    color: $impTextColor;
  }
}

.title-warp {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: #ffffff;
  padding-left: 26px;
  font-size: 16px;
}