@import url(/Users/gigi/webspace/liebang/liebang-web/src/assets/css/iconfont/iconfont.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "PingFangSC-Regular,PingFang SC", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB";
  font-family: "PingFangSC-Regular,PingFang SC";
  font-style: normal;
  color: #000000;
  background: #f3f6f9;
  width: 100%;
  overflow-y: auto;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: inline-block;
  border: none;
  vertical-align: middle;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}

th {
  font-weight: normal;
}

textarea {
  resize: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.textL {
  text-align: left;
}

.textR {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'iconfont';
  /* project id 1906516 */
  src: url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.eot");
  src: url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.woff2") format("woff2"), url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.woff") format("woff"), url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.ttf") format("truetype"), url("//at.alicdn.com/t/font_1906516_x2mo6uguo6.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.width200 {
  width: 200px !important;
}

.line {
  text-align: center;
  color: #999;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.el-tabs .el-tabs__item {
  color: #999999;
  text-align: center;
}

.el-tabs .el-tabs__item.is-active {
  color: #303133;
}

.el-tabs .el-tabs__active-bar {
  background-color: #FE6A00 !important;
}

.el-button--primary, .el-button--primary:hover {
  background: #FE6A00 !important;
  border-color: #FE6A00 !important;
  color: #ffffff !important;
}

.el-button--default, .el-button--default:hover {
  background: #ffffff;
  border-color: #FE6A00;
  color: #FE6A00;
}

.el-input--medium .el-input__inner {
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #FE6A00;
  border-color: #FE6A00;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666666;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #FE6A00;
}

h2 {
  font-weight: 400;
  font-size: 14px;
}

.content-wrap {
  width: 1200px;
  margin: 0 auto;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font24 {
  font-size: 24px;
}

.font26 {
  font-size: 26px;
}

.font28 {
  font-size: 28px;
}

.font36 {
  font-size: 36px;
}

.font000 {
  color: #000000;
}

.font333 {
  color: #333333;
}

.font666 {
  color: #666666;
}

.font999 {
  color: #999999;
}

.fontImp {
  color: #FE6A00 !important;
}

.red {
  color: #FF001C !important;
}

.green {
  color: #52C41A;
}

.cursor {
  cursor: pointer;
}

.mb70 {
  margin-bottom: 70px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mr6 {
  margin-right: 6px;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.bold {
  font-weight: bold;
}

.swiper-button-prev, .swiper-button-next {
  background-image: none;
  border: none;
}

.swiper-button-prev span, .swiper-button-next span {
  font-size: 40px;
  color: #FE6A00;
}

.title-warp {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: #ffffff;
  padding-left: 26px;
  font-size: 16px;
}

a:hover, a:visited, a:link, a:active {
  color: #ffffff;
}
